[MAIN]
fail-under=10
jobs=1

[MESSAGES CONTROL]
disable=arguments-differ,
        arguments-renamed,
        broad-exception-caught,
        consider-using-from-import,
        cyclic-import,
        duplicate-code,
        invalid-name,
        redefined-builtin,
        super-with-arguments

[FORMAT]
max-line-length=150
max-module-lines=1000

[DESIGN]
max-args=10
max-attributes=30
max-branches=15
max-locals=20
max-positional-arguments=10
max-public-methods=20
